/* Write your CSS code here */
/* Write your CSS code here */
.bg-container {
  font-family: Arial, Helvetica, sans-serif;
}
.nav-items {
  font-family: 'Roboto';
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.first-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wave-img {
  height: 35px;
  padding-right: 10px;
}
.second-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
@media screen and (min-width: 768px) {
  .second-item {
    width: 30%;
  }
}
.nav-link {
  /* text-decoration: none; */
  text-decoration-line: none;
}
